<!-- footer section -->
  <footer class="footer_section">
    <div class="container">
      <div class="row">
        <div class="col-md-4 footer-col">
          <div class="footer_contact">
            <h4>
              {{ 'Contact Us'|_ }}
            </h4>
            <div class="contact_link_box">
              <div class="footer_info_list_item">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span>
                   {{ 'Kulmanov Str 23 Atyrau 060011 Kazakhstan'|_ }}
                </span>
              </div>
              <div class="footer_info_list_item">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span>
                  {{ 'Call +7 (7122) 30-90-01'|_ }}
                </span>
              </div>
              <div class="footer_info_list_item">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span>
                   info@isker.kz
                </span>
              </div>
              <div class="footer_info_list_item">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span>
                   tenders@isker.kz
                </span>
              </div>
              <div class="footer_info_list_item">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span>
                   hr_recruitment@isker.kz
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 footer-col">
          <div class="footer_detail">
            <h4>
              {{ 'About Us'|_ }}
            </h4>
            <p>
              {{ 'ISKER Group is a Kazakh based conglomerate comprising a diverse range of construction and engineering products and services in oil & gas sector, port operations, waste management, property, shipping, logistics, catering and leisure sectors.'|_ }}
            </p>
          </div>
        </div>
        <div class="col-md-4 footer-col">
          <h4>
            {{ 'Additional Info'|_ }}
          </h4>
          <div class="footer_contact">
            <div class="contact_link_box">
                <a href="">
                  <i class="fa fa-file-pdf-o" aria-hidden="true" target="_blank"></i>
                  <span>
                    {{ 'Presentation'|_ }}
                  </span>
                </a>
                <a href="https://forms.microsoft.com/r/CTVtxCUaaq" target="_blank">
                  <i class="fa fa-file-word-o" aria-hidden="true"></i>
                  <span>
                    {{ 'Suppliers’ registration form'|_ }}
                  </span>
                </a>
                <a href="https://forms.microsoft.com/r/ypKDnX7JhN" target="_blank">
                  <i class="fa fa-file-word-o" aria-hidden="true"></i>
                  <span>
                    {{ 'Subcontractors’ registration form'|_ }}
                  </span>
                </a>
            </div>
          </div>
          <div class="footer_social">
              <a href="https://www.youtube.com/@isker_group" target="_blank">
                <i class="fa fa-youtube-play" aria-hidden="true"></i>
              </a>
              <a href="https://www.linkedin.com/company/2089949/" target="_blank">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              </a>
          </div>
        </div>
      </div>
    </div>
  </footer>
 </div>